body {
  background:#eee;
  font-size:13px;
  font-weight:100;
  font-family:"Avenir Next", Roboto, "Open Sans", sans-serif
;
}

#container {
  width:990px;
  margin:0 auto;
  -webkit-box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
}

.secondary {
  background:#1667a1;
  color:white;
  display:flex;
  justify-content:space-between;
  height:36px;
}

.secondary a{
  color:white;
  text-decoration:none;
}

.profile {
  display:flex;
  list-style:none;
  padding-left:0;
  height:36px;
  margin-top:0;
}
.profile li {
  height:36px;
  line-height:36px;
  margin:0 5px;
}

.profile li:first-child a {
  border-left:none;
}
.profile li a {
  border-left:1px solid white;
  padding-left:8px;
}
.store i {
  font-size:28px;
  padding-top:5px;
  float:left;
  margin-right:10px;
}

.store-location {
  font-weight:bold;
  position:relative;
  top:3px;
}

.cart {
  line-height:36px;
  margin-right:10px;
}

.cart i {
  font-size:28px;
  line-height:36px;
}
.basket {
  position:relative;
  top:-5px;
}
