
BODY {
    font-family: Arial, "open Sans", "SansSerif", "Times New Roman", "Courier", "Arial Rounded MT Bold";
    margin: 0 40px 10px 40px;
}

#section1 {
    background-color: #2a76aa;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.profile{
    padding-left: 0;
    list-style: none;
    display: flex;
}

.section2 {
    color: #2a76aa;
}

.section3 {
    background-color: #655959;
    color: white;
    font-size: 14px;
    padding: 2px;
    height: 55px;
}

.section4 {

}
.section5 {

}
.section6 {
    border: none;
    background-color: azure;
}
ul{
    width: 100%;
}

ul li {
    display: inline-block;
    position: static;
    padding-right: 10px;
    width: auto;
}
.item{

}
.clear{
    clear:both;
    float: right;
}
.container{
    background: blue;
    list-style: none;
    overflow: auto;
}
#menu{

}

a:link {
    color: white;
}

a:visited {
    color: white;
}

